@import "./base";
// @import "./platos";
// @import "./formulario";
// @import "./tabla";

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
ul {
	list-style: none;
	padding: 0;
}

body {
}
.color-secundario {
	color: $color-secundario;
}

.header {
	display: flex;
	height: 60px;
	background-color: $fondo;
	font-family: "Poppins", sans-serif;
	&__logo {
		max-width: 80px;
		display: flex;
		justify-content: center;
		align-items: center;
		img {
			max-height: calc(100% - 10px);
		}
	}
	&__buscador {
		padding-left: 50px;
		flex: 1;
		display: flex;
		img {
		}
		input {
			flex: 1;
			background-color: $fondo;
			outline: none;
			border: none;
			color: $color-texto;
			padding: 10px;
			font-size: 1.2rem;
		}
	}
	&__usuario {
		color: $color-texto;
		display: flex;
		align-items: center;
		justify-content: space-evenly;
		width: 250px;

		img {
			height: calc(100% - 10px);
			border-radius: 50%;
		}
	}
}
.pos-container {
	display: flex;
	background-color: $fondo;
	font-family: "Poppins", sans-serif;
	.menu {
		//nav
		width: 80px;
		// border: 1px solid white;
		height: calc(100vh - 60px);
		display: flex;
		padding-top: 50px;
		&__lista {
			//ul
			display: flex;
			flex-direction: column;
			flex: 1;
			li {
				cursor: pointer;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				color: $color-texto;
				margin-bottom: 40px;
				img {
					width: 2.5rem;
				}
				span {
					margin-top: 5px;
					font-size: 0.8rem;
				}
				&:hover {
					color: $color-secundario;
					border-left: 4px solid $color-secundario;
					// transform: translate(-4px, 0);
				}
				&.active {
					color: $color-secundario;
					border-left: 4px solid $color-secundario;
				}
			}
		}
	}
	.tabla {
		flex: 1;
		border: 1px solid darken($color: $color-texto, $amount: 50%);
		display: flex;
		flex-direction: column;

		.mesas {
			color: $color-texto;
			height: 80px;
			// border: 1px solid white;
			display: flex;
			&__lista {
				display: flex;
				width: 80%;
				li {
					cursor: pointer;
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;
					flex: 1;
					max-width: 100px;
					// border: 1px solid green;
					.mesas__numero {
						font-size: 2rem;
					}
					&:hover {
						background-color: lighten($color: $fondo, $amount: 5%);
					}
					&.activo {
						background-color: lighten($color: $fondo, $amount: 5%);
						border-bottom: 4px solid $color-secundario;
					}
				}
			}
		}
		.pedido {
			padding: 20px;
			flex: 1;
			background-color: lighten($color: $fondo, $amount: 5%);
			display: flex;
			.carta {
				flex: 1;
				h3 {
					height: 60px;
					display: flex;
					align-items: center;
					align-self: center;
					justify-content: center;
					color: white;
					text-align: center;
					padding: 8px;
					span {
						font-size: 2rem;
					}
				}
				&__botones {
					width: 100%;
					height: 100%;
					display: flex;
					align-items: center;
					justify-content: space-evenly;
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
				}
				&__platos {
					display: flex;
					flex-wrap: wrap;
					justify-content: space-evenly;
				}
				&__plato {
					overflow: hidden;
					position: relative;
					cursor: pointer;
					color: $fondo;
					transition: 1s all ease;

					border-radius: 36px;
					background: #eee;
					box-shadow: 0px 0px 10px #aaa;
					width: calc(33% - 10px);
					min-width: 200px;
					text-align: center;
					margin: 5px;
					height: 200px;
					padding: 10px;
					img {
						max-height: 50%;
						max-width: 100%;
						transition: all 0.5s ease;
					}
					* {
						margin-bottom: 5px;
					}
					&:hover {
						img {
							margin-bottom: 50px;
							max-height: 30%;
						}
						background-color: $color-secundario;
						color: white;
						.boton-sumar,
						.boton-restar {
							width: 70px;
							height: 70px;
							font-size: 1.5rem;
							color: white;
						}
						.boton-sumar:hover,
						.boton-restar:hover {
							background-color: transparent;
							font-size: 2rem;
							border: 1px solid white;
						}
					}
				}
			}
			.boleta {
				width: 400px;
				h3 {
					height: 60px;
					display: flex;
					align-items: center;
					align-self: center;
					justify-content: center;
					color: white;
					text-align: center;
					padding: 8px;
					span {
						font-size: 2rem;
					}
				}
				.comanda {
					background-color: #eee;
					background: url("./../img/comanda.png") no-repeat;
					background-size: cover;
					border-radius: 15px;
					margin-top: 10px;
					padding: 25px 15px 10px 40px;

					box-shadow: 0px 4px 10px #666;
					&__lista {
					}
					&__item {
						margin: 10px 0;
						display: flex;
						justify-content: space-between;
						padding: 5px;
						border-radius: 8px;
					}
					&__item:nth-child(odd) {
						background-color: #ebebeb;
					}
					&__nombre {
						flex: 50%;
						display: flex;
						flex-direction: column;
						// line-height: 1.1rem;
						span:nth-child(2) {
							margin-top: -5px;
							font-size: 0.9rem;
						}
					}
					&__cantidad,
					&__precio {
						flex: 25%;
						text-align: center;
					}
				}
			}
		}
	}
}
.boton {
	height: 40px;
	outline: none;
	padding: 10px;
	border-radius: 8px;
	border: none;
	cursor: pointer;
	color: white;
	background-color: transparent;
	&-primary {
		background-color: $color-secundario;
	}
	&-success {
		background-color: $color-success;
	}
	&-outline-primary {
		border: 1px solid $color-secundario;
		color: $color-secundario;
		&:hover,
		&.activo {
			background-color: $color-secundario;
			color: $color-texto;
		}
	}
}

.boton-sumar {
	margin-left: 10px;
}
