*{
    font-family: Verdana, Geneva, Tahoma, sans-serif, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body{
    background-color: #212123;
    margin: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.giratorio{
    background-color: transparent;
    width: 300px;
    height: 200px;
    perspective: 1000px;
}
.contenido{
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}
/* el efecto */
.giratorio:hover .contenido{
    transform: rotateY(180deg);
}

.contenido-frente,.contenido-trasero{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 15px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.contenido-frente{
    background: linear-gradient(#0093E9,#80D0C7,red);
}

.contenido-trasero{
    background: linear-gradient(#0093E9,#80D0C7,red);
    color: #fff;
    transform: rotateY(180deg);
}

.contenido h1, .contenido p{
    margin: 0;
    text-shadow: 0 0 10px #000;

}

.contenido h1{
    font-size: 1.4rem;
}

.logo{
    width: 70px;
    height: 70px;
    filter: drop-shadow(2px 2px 5px #000);
}