*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    overflow-x:hidden;
}

/* aniamcion una  */

.texo-animado{
    /* una animacion esta compuesta por un nombre y un tiempo */
    animation-name: texto-volador;
    animation-duration: 12s;
    animation-iteration-count: infinite;
    border: solid;
}

/* activa animacion con keyframes */
@keyframes texto-volador{
    from{
        margin-left: 100%;
        width: 300%;
        background-color: aqua;
        border: none;
    }
    to{
        margin-left: -100%;
        background-color: brown;
        color: white;
        border: none;
    }

}

/* paso1 -nombras la animacion y su duration */

.image-animada{
    animation-name: image-resize;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    width: 400px;
    height: 400px;
}

@keyframes image-resize{
    from{
        width: 20px;
        height: 20px;
    }
    to{
        width: 400px;
        height: 400px;
    }

}