*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}



.container{
    display: grid;
    height: 100vh;
  
    border: solid 2px;
    /* en esta propiedad yo puedo deffinir el numero de columnas
    que quiero mostrar
    auto: va tomar el espacio libre y por cada xeccion que escriba es una columna  */
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto auto;
    align-items: center;
    
}

.container div{
    padding: 10px;
    font-size: 2em;
    text-align: center;
}
.item1{
    background-color: aqua;
    border: blue;
    grid-row:1 / 3;
}
.reset{
    border: solid;
    grid-column: 1 /span 2;
}

.equal{
    border: solid red;
    grid-column:  3/ span 2;
}