*{
    margin: 0;
    padding: 0;

}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.grid-container{
    height: 100vh;
    display: grid;
    grid-template-columns: 200px auto 200px;
    grid-template-rows: 100px auto 100px;
    /* grid area  sirve para asignar un nombre a las columnas y filas */
    grid-template-areas: 
    "header header aside"
    "navbar main aside"
    "footer footer aside"
    ;
}

.header{
    background-color: red;
    grid-area: header;
}

.nav{
    background-color: green;
    grid-area: navbar;
}
.aside{
    background-color: brown;
    grid-area: aside;
}

.footer{
    background-color: aqua;
    grid-area: footer;
}
.container{
    background-color: violet;
    grid-area: main;
}