* {
	margin: 0;
	box-sizing: border-box;
	padding: 0;
	font-family: sans-serif;
}

.main__sidebar {
	width: 240px;
	border: 1px solid red;
	height: 200px;
	display: inline-block;
}
.main__principal {
	width: 600px;
	border: 1px solid purple;
	height: 200px;
	display: inline-block;
}

.navbar__list-item {
	display: inline-block;
	margin-right: 10px;
	border-radius: 20px;
	padding: 3.5px 10px;
	transition: all 0.1s ease-in 0s;
	cursor: pointer;
}

.navbar__list {
	/* regla para desaparecer las viñetas en un ul*/
	list-style: none;
	text-align: center;
}
.navbar {
	height: 50px;
	box-shadow: #aaa 0px 0px 8px;
	background-color: #24252a;
	color: #eee;
}

.navbar__list-item:hover {
	background-color: #0287a8;
	transform: scale(1.15);
}

/* .active {
	background-color: #0287a8;
	border-radius: 20px;
	padding: 3.5px 10px;
} */
